body {
    margin: 0;
    padding-top: 60px; /* Adjust this value based on the height of the header */
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
    font-family: Open Sans;
}


.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.nav-list-item {
    display: inline;
    margin: 0 15px;
}

.nav-list-item-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: "Open Sans";
    text-align: center;
    padding-bottom: 20px;
}

.logo .st3 {
  fill:#fff
}

.spring_logo{
    height: 30px;
}
.site-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.article-container{
    padding: 50px;
}
.tile-container{
    background-color: #ebf2f2;
    flex:1;
}
.article-heading {
    font-family: "Open Sans";
    font-weight: 900;
}
.article-text{
    font-family: "Open Sans";
}
.tile{
    
}